.container {
 border: 10px;
 border-color: black; 
 background-color: aqua;
 border: darkmagenta;
 
}

.begin {
  text-align: center;
}

#start {
  text-align: center;
  color: blue;
  margin: 20px;
  width: 80px;
  float: center;
}

h5 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 800;
}

h1, h2, h5, .heading {
  text-align: center;
}

.cirbtn {
  text-align: center;
  align-content: center;
  margin: 0 auto;
  float: center;
  padding-right: 20px;
   padding-left: 20px;
} 
#dbtn {
  text-align: center;
  text: blue;
  margin: 20px;
  width: 80px;
  font-style: oblique;
  
}

#results {
  margin-bottom: 30px;
  background: yellow;
  float: center;
  padding: 40px;
}

#correct, #incorrect {
  text-align: center;
}
